
body{font-family: 'Montserrat', sans-serif;
    
    background-color:#E5E5E5;}

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

    .main-content{
background-color: white;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
padding: 105px 90px;
    }

.about-position{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000; 
    margin-top: 19px;
}
.about-discription{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-top: 24px;
    width: 400px;
}

.about{ 
margin-bottom: 40px;
   }

.projects{
margin-bottom: 50px;
  }
  
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;    
    margin-bottom: 10px;
}
.project-item, .project-bracket {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;

}
.project-list{
    padding: 0;
    margin-left: 15px;
}
.project, .project-links{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #595959;
}
.project-links{
    margin-left: 10px;
}


.work{
margin-left: 0px;
    }
   
.education-position{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-top: 43px;
    }
.education{
margin-top: 12px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-top: 10px;
}
.management-position{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-top: 10px;   
 }
 .period{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
color: #000000;
margin-bottom: 10px;
margin-top: 8px;
    }

.organization{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
margin-top: 12px;
}

.line{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #000000;

}

.work {
    margin-top: 40px;
}
.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;}

.work-list{
padding: 0px;
margin-left: 15px;
}
.work-list-item{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;

}

.sidebar{
 padding-top: 40px;
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;

}
.photo {
    background-size:cover;
    width: 300px;
margin-bottom: 50px;
margin-left: 10px;
margin-right: 10px;
border-radius: 50%;
}
.contacts, 
.tech-skils{
margin-left: 40px;

}
 .contacts{
     margin-bottom: 50px;
 }
.sidebar-title{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-list{
    list-style: none;
    padding: 0px;
}

.contact-type{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-left: 0px;

}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 2px;
}

.contact-link{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #c8d0db;
}

.tech-skils-list{
    color: white;
    padding: 0px;
    margin-left: 20px;
}
.tech-skills-item{
    color:#FB6D3A;
}
.tech-skill-text{
    color: white;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
.soft-skills{
    color: white;
}
.S-skills{
    margin-left:  40px;
    margin-top: 44px;
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
}
.soft-skills{
    color: white;
    margin-left: 20px;
}
.soft-skils-item{
    color: #FB6D3A;
}
.soft-skill-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}